DEBUG=False

SQLALCHEMY_TRACK_MODIFICATIONS=False

# for cookies
SECRETKEY='supersecret'
# for password hashes
SECURITY_PASSWORD_SALT='somethingsomething'

# NOTE that inside the Docker network port mappings from docker-compose take no effect
SQLALCHEMY_DATABASE_URI='postgresql://[user[:password]@][netloc][:port][/dbname]'

# Initial DB contents.
INIT_USER_EMAIL='sophie@example.com'
INIT_USER_PASSWORD='impossible'

# Reddit credentials.
REDDIT_CLIENT = 'reddit client'
REDDIT_SECRET = 'reddit secret'
REDDIT_UA = 'Reddit user agent'
