{% extends 'layouts/base.html' %}
{% from "macros/form.html" import render_field, render_selectmultiple_field %}
{% block container %}
<div class="text-center">
<img src="{{ url_for('static', filename='logo1.png') }}" alt="ActualScan" style="width: 90%; margin: 40px">
</div>

<form>
   <dl>
   {{ form.csrf_token }}
   {{ render_field(form.scan_query, show_errors) }}
   {{ render_selectmultiple_field(form.query_tags, show_errors) }}
   </dl>

   <button name="skip_scan" value="true" type="submit" class="btn btn-primary btn-lg">Search the index</button>
   <button type="submit" class="btn btn-primary btn-lg">Scan the Web</button>
</form>
{% endblock %}
