# General Flask installation.
Flask==1.1.1
Werkzeug==1.0.0
gunicorn==20.0.4

# Bootstrap 4.
Flask-Bootstrap4==4.0.2 

# The debug toolbar.
Flask-DebugToolbar==0.11.0

# DB interface.
psycopg2==2.8.4
Flask-SQLAlchemy==2.4.1

# Auth.
bcrypt==3.1.7
Flask-Security==3.0.0

# Admin panel.
Flask-Admin==1.5.5

# Additional interface libs
# (this is the version that was installed by Flask-Admin 1.5.5)
WTForms==2.2.1
Flask-WTF==0.14.3
# not currently used, breaks Flask-WTF
WTForms-SQLAlchemy==0.1

# Scrapy.
Scrapy==1.8.0
simpleflock==0.0.3

# Reddit scraper.
praw==6.5.1
Markdown==3.2.1
markdown-strikethrough==0.1.1
mdx-linkify==1.4
beautifulsoup4==4.8.2
sentence_splitter==1.4

# Testing.
pytest==5.3.5
