# General Django installation.
Django==3.0.7
psycopg2-binary==2.8.6
channels==2.4.0
channels-redis==3.0.0

# Django extensions.
django-bootstrap4==2.1.1
django-crispy-forms==1.9.2
django-ipware==2.1.0
django-dynamic-preferences==1.9
django-markdownify==0.8.1
better-profanity==0.6.1

# Testing.
pytest-django==3.10.0

# Redis.
redis==3.4.1
python-redis-lock==3.6.0

# Reddit scraper.
praw==7.1.0
Markdown==3.2.1
markdown-strikethrough==0.1.1
mdx-linkify==1.4
lxml==4.6.1
beautifulsoup4==4.8.2
sentence_splitter==1.4
