# General Django installation.
Django==3.0.7
psycopg2-binary==2.8.6
Twisted[tls,http2]==20.3.0
daphne==2.5.0
gunicorn==20.0.4
channels==2.4.0
channels-redis==3.0.0

# Django extensions.
django-bootstrap4==2.1.1
django-crispy-forms==1.9.2
django-ipware==2.1.0
django-dynamic-preferences==1.9
better-profanity==0.6.1

# Testing.
pytest-django==3.10.0

# Redis.
redis==3.4.1
python-redis-lock==3.6.0

# Communicating with Omnivore.
pexpect==4.8.0
