{% extends "bootstrap/base.html" %}

{% block title %}{% block page_title %}{% endblock %} - ActualScan{% endblock %}

{% set app_head_includes %}
   {% block styles %}
   <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
   {% endblock %}

   {% block scripts %}
   <script type="application/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
   {% endblock %}
{% endset %}

{% set app_navbar %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">ActualScan</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
     aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <a class="nav-link" href="{{ url_for('account.account_home') }}">Your account</a>
        </li>

        <li class="nav-item active">
           <a class="nav-link" href="{{ url_for('manager_site_registered.index_view') }}">Add sites, tags</a>
        </li>
        {% if current_user.is_authenticated %}

        <li class="nav-item active">
           <a class="nav-link" href="{{ url_for('security.logout') }}">Logout</a>
        </li>
        {% endif %}
     </ul>
  </div>
</nav>
{% endblock %}
{% endset %}

{% block content %}
{% block big_container %}
<main class="container-fluid p-5">
   <div class="col-lg-5">
   {% block container %}{% endblock %}
   </div>
 </main>
{% endblock %}

 <footer class="footer text-center">
   <div class="container">
     <ul class="list-inline">
       <li class="text-muted">Szymon Rutkowski &copy; 2020
       {% block footer %}{% endblock %}
     </ul>
   </div>
 </footer>
{% endblock %}
