.admin-area .nav li {
   display: inline-block;
   padding: 5px;
   color: $gray-800;
}
.admin-area li.active  {
  font-style: italic;
  letter-spacing: 1.5px;
}
.admin-area .navbar a {
  font-weight: bold;
  font-size: $font-size-base * 1.3;
  color: inherit;
}

.admin-area td form {
  display: inline-block;
}
.admin-area td button {
   border: 0px;
   padding: 0px;
}
.glyphicon {
  display: inline-block;
  content: "&nbsp;";
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  width: 1rem;
  height: 1rem;
}
.icon-eye-open {
   background-image: url('/static/bootstrap-icons/eye.svg') 
  }
.icon-pencil {
   background-image: url('/static/bootstrap-icons/pencil.svg') 
  }
.icon-trash {
   background-image: url('/static/bootstrap-icons/trash.svg') 
  }
.icon-minus-sign {
   background-image: url('/static/bootstrap-icons/x.svg') 
  }
.icon-ok-circle {
   background-image: url('/static/bootstrap-icons/check.svg') 
  }
.icon-chevron-up {
   background-image: url('/static/bootstrap-icons/chevron-up.svg') 
  }
.icon-chevron-down {
   background-image: url('/static/bootstrap-icons/chevron-down.svg') 
  }
.icon-arrow-left {
   background-image: url('/static/bootstrap-icons/arrow-left.svg') 
  }
.icon-arrow-right {
   background-image: url('/static/bootstrap-icons/arrow-right.svg') 
  }
