.admin-area .nav li {
   display: inline-block;
   padding: 5px;
   color: $gray-800;
}
/* this should be the index view link */
.navbar .nav li:first-child {
  color: $gray-500;
}
.admin-area li.active  {
  font-style: italic;
  letter-spacing: 1.5px;
}

.admin-area .navbar a {
  font-weight: bold;
  font-size: $font-size-base * 1.3;
  color: inherit;
}
