{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% block page_title %}{% endblock %} - ActualScan{% endblock %}</title>

{% block metas %}{% endblock %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% block scripts %}{% endblock %}
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">ActualScan</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
     aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <a class="nav-link" href="/manager/sites/">Sites</a>
        </li>

        <li class="nav-item active">
           <a class="nav-link" href="/manager/tags/">Tags</a>
        </li>

        <li class="nav-item active">
           <a class="nav-link" href="/accounts/info/">Your account</a>
        </li>

        {% if request.user.is_staff %}
        <li class="nav-item active">
           <a class="nav-link" href="/admin/">Admin</a>
        </li>
        {% endif %}

        {% if request.user.is_authenticated %}
        <li class="nav-item active">
           <a class="nav-link" href="">Logout</a>
        </li>
        {% endif %}
     </ul>
  </div>
</nav>


{% block content %}
{% block big_container %}
<main class="container-fluid p-5">
   {# Display django.contrib.messages as Bootstrap alerts #}
   {% bootstrap_messages %}

   <div class="col-lg-5">
   {% block container %}{% endblock %}
   </div>
 </main>
{% endblock %}

 <footer class="footer text-center">
   <div class="container">
     <ul class="list-inline">
       <li class="text-muted">Szymon Rutkowski &copy; 2020
       {% block footer %}{% endblock %}
     </ul>
   </div>
 </footer>
{% endblock %}
</body>
</html>
