{% extends 'scan/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block page_title %}Search{% endblock %}

{% block scripts %}
<script type="application/javascript" src="{% static 'scan/js/datepicker.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'scan/css/datepicker.min.css' %}">
{% endblock %}

{% block container %}
<div class="text-center">
<img src="{% static 'scan/logo1.png' %}" alt="ActualScan" style="width: 90%; margin: 40px">
</div>

<form action="/scanresults/">
   <dl>
   {% csrf_token %}
   {% bootstrap_form form %}
   </dl>

   <button type="submit" class="btn btn-primary btn-lg">Search the index</button>
   {% if can_scan %}
   <button name="is_scan" value="true" type="submit" class="btn btn-primary btn-lg">Scan the Web</button>
   {% endif %}
</form>
{% endblock %}
