{% extends 'scan/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}

{% block page_title %}{% if scan_phrase %}{{ scan_phrase }}{% else %}Searching{% endif %}{% endblock %}

{% block scripts %}
<script type="application/javascript" src="{% static 'scan/js/chartist.min.js' %}"></script>
<script type="application/javascript" src="{% static 'scan/js/datepicker.min.js' %}"></script>
<script type="application/javascript" src="{% static 'scan/js/list.min.js' %}"></script>
<script type="application/javascript" src="{% static 'scan/js/typeahead.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'scan/css/chartist.min.css' %}">
<link rel="stylesheet" href="{% static 'scan/css/datepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'scan/css/typeaheadjs.css' %}"></script>
{% endblock %}

{% block big_container %}
{% bootstrap_messages %}
{% if with_errors %}
<div class="alert alert-danger" role="alert">
   <p>Sorry, we experienced a problem with your request.</p>
   <ul>
      {% if form.errors %}
      {% for field in form %}
      {% for error in field.errors %}
      <li>{{ field.label }}: {{ error|escape }}</li>
      {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
      <li>{{ error|escape }}</li>
      {% endfor %}
      {% endif %}
   </ul>
<noscript><a class="btn btn-primary mx-4" href="/">Go back</a></noscript>
<script>document.write('<a class="btn btn-primary align-middle mx-4" href="javascript:history.go(-1)">Go back</a>')</script>
{% if not form.errors %}
<a class="btn btn-primary mx-4" href="{{ request.path }}">Retry</a>
{% endif %}
</div>
{% endif %}

<div class="text-center p-3 m-3 border border-dark" style='background-color: #f8f8f8'>
<form action="/scan/search/">
   <dl>
      {% crispy form %}
   </dl>
</form>
</div>

{% if result.sentCount == 0 %}
<div class="alert alert-info" role="alert">Sorry, we have no sufficient information for the specified parameters in the index.
<noscript><a class="btn btn-primary mx-4" href="/">Try something different</a></noscript>
<script>document.write('<a class="btn btn-primary align-middle mx-4" href="javascript:history.go(-1)">Try something different</a>')</script>
</div>
{% endif %}

{% if possible_feedback %}
   <script type="text/javascript">
      window.FEEDBACK_SITE = '{{ possible_feedback.site }}'
      window.FEEDBACK_TAG = '{{ possible_feedback.tag }}'
   </script>
   <script type="application/javascript" src="{% static 'scan/js/feedback_prompt.js' %}"></script>
{% endif %}

<div class="card-columns">
{% if result.years %}
<div class="card">
  <div class="card-header">
    Time
  </div>
  <div class="chart">
  <div id="ct-chart-trend" class="ct-chart ct-golden-section"></div>
  </div>
</div>
{% endif %}

{% if result.sitesStats %}
<div class="card">
  <div class="card-header">
    Sites
  </div>
  <div id="ct-chart-sites" class="ct-chart ct-golden-section"></div>
</div>
{% endif %}

{% if result.typical %}
<div class="card">
  <div class="card-header">
    Typical samples
  </div>
       {% for sent in result.typical %}
       <div class="card-body p-2">
       <p class="card-text">{{ sent.text }}</p>
       <p class="card-text"><small class="text-muted">
          by {{ sent.author }}{% if sent.date %} ({{ sent.date }}){% endif %}
          at {{ sent.domain }}</small>
       <small><br><a href="{{ sent.url }}">{{ sent.url }}</a></small>
       {% include "widgets/feedback_prompt.html" with site_name=sent.domain %}
       </p>
       </div>
       {% endfor %}
</div>
{% endif %}

{% if result.phrases %}
<div class="card">
  <div class="card-header">
    Ordinary samples
  </div>
       {% for phrase in result.phrases %}
       <div class="card-body p-2">
          <big class="card-title">{{ phrase.text }}</big>
          <small>
          <a href="/scan/search/?scan_query={{ phrase.text }}{% include 'widgets/form_link.html' with repl_field='scan_query' %}">search</a>
          | <a href="/scan/search/?scan_query={{ scan_phrase }}%20{{ phrase.text }}{% include 'widgets/form_link.html' with repl_field='scan_query' %}">search both</a>
          </small>
          <ul>
             {% for sent in phrase.typical %}
             <li>
                <span class="card-text">{{ sent.text }}</span>
                <small class="text-muted">by {{ sent.author }}
                   {% if sent.date %} ({{ sent.date }}){% endif %}
                   at {{ sent.domain }}
                   <br><a href="{{ sent.url }}">{{ sent.url }}</a></small>
                {% include "widgets/feedback_prompt.html" with site_name=sent.domain %}
             </li>
             {% endfor %}
          </ul>
          {% if phrase.oldest %}
          <div class="px-3">
          <span class="text-muted">Oldest:</span>
          {% for sent in phrase.oldest %}
          <span class="card-text"><strong>({{ sent.date }})</strong>
             {{ sent.text }}</span>
          <small class="text-muted">by {{ sent.author }}
             at {{ sent.domain }}
             <br><a href="{{ sent.url }}">{{ sent.url }}</a></small>
          {% include "widgets/feedback_prompt.html" with site_name=sent.domain %}
          {% endfor %}
          </div>
          {% endif %}
       </div>
       {% endfor %}
</div>
{% endif %}

{% if result.topTerms %}
<div class="card">
  <div class="card-header">
    Top terms
  </div>
       <div class="card-body p-2">
       {% for term, freq in result.topTerms.items %}
       {% if freq > 50 %}
       <big><a href="/scan/search/?scan_query={{ term }}{% include 'widgets/form_link.html' with repl_field='scan_query' %}">{{ term }}</a></big>{% elif freq < 30 %}
       <small><a href="/scan/search/?scan_query={{ term }}{% include 'widgets/form_link.html' with repl_field='scan_query' %}">{{ term }}</a></small>{% else %}
       <a href="/scan/search/?scan_query={{ term }}{% include 'widgets/form_link.html' with repl_field='scan_query' %}">{{ term }}</a>{% endif %}<small><sub>{{ freq }}</sub>
       <a href="/scan/search/?scan_query={{ scan_phrase }}%20{{ term }}{% include 'widgets/form_link.html' with repl_field='scan_query' %}">(+)</a></small>
       {% endfor %}
       </div>
</div>
{% endif %}

{% if result.atypical %}
<div class="card">
  <div class="card-header">
    Other opinions
  </div>
       {% for sent in result.atypical %}
       <div class="card-body p-2">
       <p class="card-text">{{ sent.text }}</p>
       <p class="card-text"><small class="text-muted">by {{ sent.author }}
          {% if sent.date %} ({{ sent.date }}){% endif %} at {{ sent.domain }} </small>
       <small><br><a href="{{ sent.url }}">{{ sent.url }}</a></small>
       {% include "widgets/feedback_prompt.html" with site_name=sent.domain %}
       </p>
       </div>
       {% endfor %}
</div>
{% endif %}
</div>

<script defer>
var chartOptions = {
  labelInterpolationFnc: function(value) {
    return value[0]
  }
};
var chartResponsiveOptions = [
  ['screen and (min-width: 640px)', {
    chartPadding: 30,
    labelOffset: 100,
    labelDirection: 'explode',
    labelInterpolationFnc: function(value) {
      return value;
    }
  }],
  ['screen and (min-width: 1024px)', {
    labelOffset: 20,
    chartPadding: 20
  }]
];

{% if result.sitesStats %}
var sitesData = {
   labels: [{% for site in result.sitesStats %}'{{ site.site }}',{% endfor %}],
   series: [{% for site in result.sitesStats %}{{ site.frequency }},{% endfor %}]
};
new Chartist.Pie('#ct-chart-sites', sitesData, chartOptions, chartResponsiveOptions);
{% endif %}

{% if result.years %}
var years = [{% for y in result.years %}'{{ y }}',{% endfor %}];
var yearCounts = [{% for c in result.yearCounts %}{{ c }},{% endfor %}];
new Chartist.Line('#ct-chart-trend', {labels: years, series: [yearCounts]}, chartOptions);
{% endif %}
</script>
{% endblock %}
