{% extends 'scan/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block page_title %}{% if scan_phrase %}{{ scan_phrase }}{% else %}Searching{% endif %}{% endblock %}

{# TODO add noscript when ready #}
{% block metas %}
{% if is_good and not result %}
<meta http-equiv="refresh" content="2">
{% endif %}
{% endblock %}

{% block container %}
<h2>{{ scan_phrase }}</h2>

{# If there is no result, show the status data #}
{% if not result %}
   {% if is_good %}
   <script type="text/javascript">window.SCAN_ID = {{ scan_id }}</script>
   <script type="application/javascript" src="{% static 'scan/js/scanprogress.js' %}"></script>

   <div class="alert alert-success" role="alert">
{# TODO add noscript when ready #}
      <p>We are currently processing your request, please wait.</p>

      <p>If your browser doesn't refresh this page automatically, please
      <a href="">click here</a>
      after a moment.</p>
   </div>
   {% else %}
   <div class="alert alert-danger" role="alert">
      <p>There was a problem with your scan request.</p>
   </div>
   {% endif %}

   <table class="table">
      <thead class="thead-light">
         <tr>
         <th scope="col">Item</th>
         <th scope="col">Information</th>
         </tr>
      </thead>
      <tbody>
         <tr>
         <th scope="row">Scan status</th>
         <td id='scan_phase'>{{ status_data.phase }}</td>
         </tr>
         <tr>
         <th scope="row">No. of failures</th>
         <td id='scan_fails'>{% if status_data.failures %}{{ status_data.failures }}{% else %}0{% endif %}</td>
         </tr>
         <tr>
         <th scope="row">Last page processed</th>
         <td id='scan_last_url'>{% if status_data.last_url %}{{ status_data.last_url }}{% else %}-{% endif %}</td>
         </tr>
         <tr>
         <th scope="row">% done (estimated)</th>
         <td id='scan_dl_proportion'>{% if status_data.dl_proportion %}{{ status_data.dl_proportion }}{% else %}-{% endif %}</td>
         </tr>
      </tbody>
   </table>

{# If we have the result, show it. #}
{% else %}
{% if result.years %}
<div class="card">
  <div class="card-header">
    Trend
  </div>
  <div class="ct-chart-trend ct-golden-section"></div>
</div>
{% endif %}

{% if result.sitesStats %}
<div class="card">
  <div class="card-header">
    Sites
  </div>
  <div class="ct-chart-sites ct-golden-section"></div>
</div>
{% endif %}

{% if result.typical %}
<div class="card">
  <div class="card-header">
    Common opinion
  </div>
       {% for sent in result.typical %}
       <div class="card-body">
       <p class="card-text">{{ sent.text }}</p>
       <p class="card-text"><small class="text-muted">by {{ sent.author }}
          ({{ sent.date }})
          at {{ sent.domain }} </small></p>
       </div>
       {% endfor %}
</div>
{% endif %}

{% if result.phrases %}
<div class="card">
  <div class="card-header">
    Hot phrases
  </div>
       {% for phrase in result.phrases %}
       <div class="card-body">
          <h5 class="card-title">{{ phrase.text }}</h5>
          <ul>
             {% for sent in phrase.typical %}
             <li>
                <span class="card-text">{{ sent.text }}</span>
                <small class="text-muted">by {{ sent.author }} ({{ sent.date }})
                   at {{ sent.domain }} </small>
             </li>
             {% endfor %}
          </ul>
       </div>
       {% endfor %}
</div>
{% endif %}

{% if result.atypical %}
<div class="card">
  <div class="card-header">
    Oddball posters
  </div>
       {% for sent in result.atypical %}
       <div class="card-body">
       <p class="card-text">{{ sent.text }}</p>
       <p class="card-text"><small class="text-muted">by {{ sent.author }}
          ({{ sent.date }})
          at {{ sent.domain }} </small></p>
       </div>
       {% endfor %}
</div>
{% endif %}

<script defer>
var chartOptions = {
  labelInterpolationFnc: function(value) {
    return value[0]
  }
};
var chartResponsiveOptions = [
  ['screen and (min-width: 640px)', {
    chartPadding: 30,
    labelOffset: 100,
    labelDirection: 'explode',
    labelInterpolationFnc: function(value) {
      return value;
    }
  }],
  ['screen and (min-width: 1024px)', {
    labelOffset: 20,
    chartPadding: 20
  }]
];

{% if result.sitesStats %}
var sitesData = {
   labels: [{% for site in result.sitesStats %}'{{ site.site }}',{% endfor %}],
   series: [{% for site in result.sitesStats %}{{ site.frequency }},{% endfor %}]
};
new Chartist.Pie('.ct-chart-sites', sitesData, chartOptions, chartResponsiveOptions);
{% endif %}

{% if result.years %}
var years = [{% for y in result.years %}'{{ y }}',{% endfor %}];
var yearCounts = [{% for c in result.yearCounts %}{{ c }},{% endfor %}];
new Chartist.Line('.ct-chart-trend', {labels: years, series: [yearCounts]}, chartOptions);
{% endif %}
</script>

{% endif %}
{% endblock %}
