{% extends 'scan/base.html' %}
{% load bootstrap4 %}

{% block page_title %}{% if tag %}{{ tag }} - {% endif %}Sites{% endblock %}

{% block container %}
<h2>Sites{% if tag %} tagged <a href="/manager/tag/{{ tag_id }}/">{{ tag }}</a>{% endif %}</h2>
<div class="card-columns">
   <div class="card mb-4">
      <div class="card-body">
         <h4 class="card-title"><a href="/manager/makesite/">Add a new site</a></h4>
      </div>
   </div>

   {% for site in sites %}
   {% include 'scan/site_snippet.html' with site=site %}
   {% endfor %}
</div>
{% endblock %}
