{% extends 'scan/base.html' %}
{% load bootstrap4 %}
{% load scan_extras %}

{% block page_title %}Site {{ site.site_name }}{% endblock %}

{% block container %}
<h2>Site {{ site.site_name }}</h2>
<table class="table">
   <tr>
      <th scope="row">Level</th>
      <td>{{ site.level | format_site_level }}</td>
   </tr>
   <tr>
      <th scope="row">Site type</th>
      <td>{{ site.site_type }}</td>
   </tr>
   <tr>
      <th scope="row">Source type</th>
      <td>{{ site.source_type }}</td>
   </tr>
   <tr>
      <th scope="row">Homepage URL</th>
      <td>{{ site.homepage_url }}</td>
   </tr>
   <tr>
      <th scope="row">Search pointer</th>
      <td>{{ site.search_pointer }}</td>
   </tr>
   <tr>
      <th scope="row">Added by</th>
      <td>{% if site.creator %}{{ site.creator.username }}{% endif %}</td>
   </tr>
   <tr>
      <th scope="row">Tags</th>
      <td>
           {% for tag in site.tags.all %}
           <a href="/manager/tagsites/{{ tag.name }}/">{{ tag.name }}</a>
            {% endfor %}
      </td>
   </tr>
</table>
{% endblock %}
