{% extends 'scan/base.html' %}
{% load bootstrap4 %}
{% load scan_extras %}

{% block page_title %}Tags{% endblock %}

{% block container %}
<h2>Tags</h2>
<div class="card-deck">
   <div class="card mb-4" style="width: 18rem;">
     <div class="card-body">
        <h4 class="card-title"><a href="/manager/maketag/">Add a new tag</a></h4>
     </div>
   </div>

   {% for tag in tags %}
   <div class="card mb-4" style="width: 18rem;">
     <div class="card-body">
        <h5 class="card-title">{{ tag.name }}</h5>
        <p class="card-text">{{ tag.description }}</p>
        <p class="card-text">
        Level:
        <strong>{{ tag.level | format_tag_level }}</strong>
        </p>
       <a href="/manager/tag/{{ tag.id }}/" class="card-link">Details</a>
       <a href="/manager/tagsites/{{ tag.name }}/" class="card-link">Sites</a>
     </div>
   </div>
   {% endfor %}
</div>
{% endblock %}
