# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = genscrap.settings

[deploy]
url = http://scrapy:6800/
project = genscrap
