{% macro render_field(field, show_errors) %}
     <div class="form-group">
        <label for="{{field.name}}">{{ field.label }}</label>
        {{ field(**kwargs)|safe }}
        {% if show_errors and field.errors %}
        <ul class=errors>
           {% for error in field.errors %}
           <li>{{ error }}</li>
           {% endfor %}
        </ul>
        {% endif %}
     </div>
{% endmacro %}

<!-- TODO extend with https://stackoverflow.com/questions/14361517/mark-error-in-form-using-bootstrap -->

{% macro render_selectmultiple_field(field, show_errors) %}
     <div class="form-group">
        <label for="{{field.name}}">{{ field.label }}</label>
        <select class="selectpicker form-control" multiple data-live-search="true" name="{{ field.name }}"{% if field.flags.required %} required{% endif %}>
           {% for value, label, checked in field.iter_choices() %}
           <option value={{ value }}{% if checked %} selected{% endif %}>{{ label }}</option>
           {% endfor %}
        </select>
        {% if show_errors and field.errors %}
        <ul class=errors>
           {% for error in field.errors %}
           <li>{{ error }}</li>
           {% endfor %}
        </ul>
        {% endif %}
     </div>
{% endmacro %}
